.header {
  
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .header__inner {
    flex-direction: row;
  }
}