.nav {
	
}

.nav__list {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.nav__item {
	
}

.nav__link {
	--br: 20px;
	--c-link: violet;

	padding: 10px 20px;
	display: inline-flex;
	background-color: var(--c-link);
	border-radius: var(--br);
}

@media (min-width: 600px) {
	.nav__list {
		flex-direction: row;
	}
}