<!-- v1 -->
<div class="card">
  <h3 class="card__title">Card title</h3>
  <p class="card__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto eos cupiditate odio sint eveniet. Ex nemo reprehenderit libero nobis incidunt eaque officiis sed numquam, ut consequuntur ullam exercitationem quo ipsa!</p>
  <a class="card__link" href="#!">Read more...</a>
</div>
<!-- /.card -->

<!-- v2 -->
<a class="card">
  <h3 class="card__title">Card title</h3>
  <p class="card__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto eos cupiditate odio sint eveniet. Ex nemo reprehenderit libero nobis incidunt eaque officiis sed numquam, ut consequuntur ullam exercitationem quo ipsa!</p>
</a>
<!-- /.card -->