.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blueviolet;
}

/*
  .header__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 536px) {
    .header__inner {
      flex-direction: row;
    }
  }
*/