/* CSS VARIABLES */
@import "vars/01-v-fonts.css";
@import "vars/02-v-colors.css";
@import "vars/03-v-sizes.css";

/*
  CSS variables naming

  --ff-: font-family;
  --fsz-: font-size;
  --lh-: line-height;
  --c-: color;
  --w-: width;
  --gap-: gap;
  --sp-: spacing;
  --br-: border-radius;
*/