/* OPTIONAL */
.header,
.logo-link,
.main-content,
.footer {
  /* padding: 10px 0; */
  position: relative;
}

.header {
  background-color: hsla(100, 100%, 70%, 0.8);
}

.main-content {
  background-color: hsla(180, 100%, 70%, 0.8);
}

.card {
  background-color: hsla(230, 70%, 70%, 0.8);
}

.footer {
  background-color: hsla(60, 100%, 70%, 0.8);
}

.header::before,
.logo-link::before,
.main-content::before,
.footer::before {
  padding: 5px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  color: grey;
  background-color: hsl(100, 100%, 90%, 0.6);
}

.header::before {
  content: 'HEADER';
}

.logo-link::before {
  content: 'LOGO';
}

.footer::before {
  content: 'FOOTER';
}

.main-content::before {
  content: "MAIN-CONTENT";
}

.card {
  position: relative;
}

.card::before {
  content: "CARD";
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  color: grey;
  background-color: hsl(100, 100%, 90%, 0.6);
}