/* CSS VARIABLES */

:root {
  /* width */
  --w-container: 1260px;
  
  /* gap size */
  --gap: 30px;
  --gap-min: -30px;

  /* fonts */
  --f-main: "Roboto Regular";
  --f-secondary: "Montserrat";
  
  /* colors */
  --c-white-v1: #FDFDFD;
  --c-black-v1: #434343;
  
  /* --c-primary: ;
  --c-secondary: ;
  --c-success: ;
  --c-info: ;
  --c-warning: ;
  --c-danger: ;
  --c-light: ;
  --c-dark: ; */

  /* border radius */
  --br: 5px;
}