body {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--w-container);
  position: relative;
}

body::before {
  --columns: 3;

  content: "";
  position: absolute;
  top: 0;
  right: var(--gap);
  bottom: 0;
  left: 0;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0 var(--gap),
    rgba(241, 130, 141, 0.2) var(--gap) calc(100% / var(--columns))
  );
  z-index: 1;
}


@media (min-width: 536px) {
  body::before {
    --columns: 6;
  }
}

@media (min-width: 768px) {
  body::before {
    --columns: 9;
  }
}

@media (min-width: 992px) {
  body::before {
    --columns: 12;
  }
}