.footer {

}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
	.footer__inner {
		flex-direction: row;
    justify-content: flex-end;
	}
}