.title {
	font-family: "Montserrat";
	line-height: 1.5;
}

.title--xl {
	font-size: 36px;
}

.title--lg {
	font-size: 32px;
}

.title--md {
	font-size: 28px;
}

.title--s {
	font-size: 24px;
}

.title--xs {
	font-size: 20px;
}