:root {
  --ff-primary: "Roboto Regular";
  --ff-secondary: "Montserrat";
  /* --ff-tertiary: ""; */

  --fsz-primary: 18px;

  --fwg-primary: 400;

  --flh-primary: 1.5;
  --flh-secondary: 1.3;

  --f-page-text-primary: var(--ff-primary);
  --f-page-text-secondary: var(--ff-secondary);
  --f-page-text-size: var(--fsz-primary);
  --f-page-text-weight: var(--fwg-primary);
  --f-page-text-line-height: var(--flh-primary);

  --f-title-line-height: var(--flh-secondary);


    --ff-base: "Montserrat";

  --fsz-xs: 12px;
  --fsz-s: 14px;
  --fsz-base: 16px;
  --fsz-m: 20px;
  --fsz-l: 24px;
  --fsz-xl: 30px;
  --fsz-xxl: 40px;
  --fsz-xxxl: 58px;

  --fwg-regular: 400;
  --fwg-medium: 500;
  --fwg-semi-bold: 600;
  --fwg-bold: 700;
  --fwg-extra-bold: 800;

  --flh-xs: 1.33;         /* 32/24; */
  --flh-s: 1.39;          /* 80/58; */
  --flh-base: 1.43;       /* 20/14; 57/40; 30/20; */
  --flh-m: 1.5;           /* 24/16; 45/30 */
  --flh-l: 1.57;          /* 22/14; */
  --flh-xl: 1.72;         /* 24/14; */
  --flh-xxl: 2;           /* 28/14; */
  --flh-xxxl: 2.33;       /* 28/12; */

  --fls-s: 0.1px;
  --fls-base: 0.2px;
}