:root {
  /* OUTER SPACING */
  --gap: 20px;
  --gap-negative: -20px;

  /* INNER SPACING */
  --sp-basic: 10px;
  --sp-big: 20px;

  --sp-nav-link: var(--sp-basic) var(--sp-big);

  /* CONTAINER */
  --w-container: calc( var(--gap) * 2 + 1200px );
  --w-container--narrow: calc( var(--gap) * 2 + 1100px );
  --w-container--wide: calc( var(--gap) * 2 + 1400px );

  /* BORDER RADIUS */
  --br-basic: 10px;
  --br-big: 20px;
  --br-small: 5px;

  --br-border: var(--br-small);
  --br-btn: var(--br-btn);
  --br-link: var(--br-big);

  /* PIXEL PERFECT MOCKUP WIDTH */
  /* --pixel-perfect-width: 1440px; */
}