.header {
	
}

.header__inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 600px) {
	.header__inner {
		flex-direction: row;
	}
}