/* MOBILE FIRST */
.grid-list {
  
}

.grid-list__item:not(:last-child) {
  /* --gap: 20px; */

  margin-right: 0;
  margin-bottom: var(--gap);
}

@media (min-width: 536px) {
  .grid-list__item:not(:last-child) {
    margin-right: var(--gap);
    margin-bottom: 0;
  }
}